body {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    background: rgb(0,0,0,0.6);
 
}

.container{
    width: 1500px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.item{
    width: 200px;
    height: 270px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: radial-gradient(circle at 100% 100%, transparent 4px, transparent 4px, transparent 9px, transparent 9px), linear-gradient(to right, transparent, transparent), radial-gradient(circle at 0% 100%, transparent 4px, transparent 4px, transparent 9px, transparent 9px), linear-gradient(to bottom, transparent, transparent), radial-gradient(circle at 0% 0%, transparent 4px, transparent 4px, transparent 9px, transparent 9px), linear-gradient(to left, transparent, #FF8C00), radial-gradient(circle at 100% 0%, transparent 4px, #FF8C00 4px, #FF8C00 9px, transparent 9px), linear-gradient(to top, #FF8C00, transparent);
    background-size: 9px 9px, calc(100% - 18px) 3px, 9px 9px, 3px calc(100% - 18px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5%;
}

.item-2{
    width: 95%;
    height: 100%;
    background: rgb(255,255,255);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.0) 100%);
    border-radius: 10px;
}

.item-2 img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 13%;
    border-radius: 10px;
}



.text-local{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    transition: all 1s;
    width: 60%;
    margin-left: 20%;
    height: 30px;
    border-radius: 10px;
    position: relative;
    color: #000;
    margin-top: -10%;
    background: #FF8C00;
}

.text-local:hover{
    background: rgb(170, 123, 23);
}


.separador{
    width: 90%;
    height: 10px;
    border-radius: 10px;
    margin-top: 2%;
    background: #FF8C00;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 2%;
    font-weight: bold;
    color: #fff;
}

.spawnicon{
    width: 35px;
    margin-top: 2%;
    height: 35px;
    border-radius: 10px;
    background: #FF8C00;
}

.spawnicon img{
    width: 22px;
    margin-top: 25%;
    margin-left: 17%;
}

.ultimo-local{
    height: 35px;
    width: 150px;
    background: #FF8C00;
    text-align: center;
    border-radius: 10px;
    line-height: 35px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: 16px;
    letter-spacing: 1px;
    margin-top: -2.4%;
    margin-left: 6%;
    transition: all 1s;
    color: #000;
}

.ultimo-local:hover{
    background: rgb(170, 123, 23);
}